body {
    background-color: #222;
    color: #eee;

    width: 16rem;
    height: 4rem;
}

.special-text {
    color: red;
}

.connected {
    color: #00ff00;
}
.disconnected {
    color: #ff3333;
}
